# In this project we are going to predict in terms of a probability for each loan transaction, whether the customer will be paying back the loaned amount within 5 days of insurance of loan using Machine Learning.


In this case, Label ‘1’ indicates that the loan has been payed i.e. Non- defaulter, while, Label ‘0’ indicates that the loan has not been payed i.e defaulter

Importing necessary library

In [43]:
import pandas as pd
import numpy as np

#DATA VISUALIZATION
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Importing warnings
import warnings
warnings.filterwarnings('ignore')

# Loading the Dataset

In [44]:
df=pd.read_csv('micro_credit.csv')

In [45]:
df

,Unnamed: 0,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
0,1,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,...,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000,UPW,20-07-2016
1,2,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,...,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000,UPW,10-08-2016
2,3,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,...,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000,UPW,19-08-2016
3,4,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,...,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000,UPW,06-06-2016
4,5,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,...,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333,UPW,22-06-2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209588,209589,1,22758I85348,404.0,151.872333,151.872333,1089.19,1089.19,1.0,0.0,...,6.0,0.0,2.0,12,6,0.0,1.000000,1.000000,UPW,17-06-2016
209589,209590,1,95583I84455,1075.0,36.936000,36.936000,1728.36,1728.36,4.0,0.0,...,6.0,0.0,3.0,18,6,0.0,1.000000,1.000000,UPW,12-06-2016
209590,209591,1,28556I85350,1013.0,11843.111670,11904.350000,5861.83,8893.20,3.0,0.0,...,12.0,0.0,6.0,54,12,0.0,4.000000,3.833333,UPW,29-07-2016
209591,209592,1,59712I82733,1732.0,12488.228330,12574.370000,411.83,984.58,2.0,38.0,...,12.0,0.0,3.0,24,12,0.0,0.000000,10.500000,UPW,25-07-2016
209592,209593,1,65061I85339,1581.0,4489.362000,4534.820000,483.92,631.20,13.0,0.0,...,12.0,0.0,2.0,18,12,0.0,0.000000,0.000000,UPW,07-07-2016

In [46]:
#checking the 1st 5 rows
df.head()

,Unnamed: 0,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
0,1,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,...,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000,UPW,20-07-2016
1,2,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,...,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000,UPW,10-08-2016
2,3,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,...,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000,UPW,19-08-2016
3,4,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,...,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000,UPW,06-06-2016
4,5,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,...,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333,UPW,22-06-2016

In [47]:

#checking last 5 rows
df.tail()

,Unnamed: 0,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
209588,209589,1,22758I85348,404.0,151.872333,151.872333,1089.19,1089.19,1.0,0.0,...,6.0,0.0,2.0,12,6,0.0,1.0,1.000000,UPW,17-06-2016
209589,209590,1,95583I84455,1075.0,36.936000,36.936000,1728.36,1728.36,4.0,0.0,...,6.0,0.0,3.0,18,6,0.0,1.0,1.000000,UPW,12-06-2016
209590,209591,1,28556I85350,1013.0,11843.111670,11904.350000,5861.83,8893.20,3.0,0.0,...,12.0,0.0,6.0,54,12,0.0,4.0,3.833333,UPW,29-07-2016
209591,209592,1,59712I82733,1732.0,12488.228330,12574.370000,411.83,984.58,2.0,38.0,...,12.0,0.0,3.0,24,12,0.0,0.0,10.500000,UPW,25-07-2016
209592,209593,1,65061I85339,1581.0,4489.362000,4534.820000,483.92,631.20,13.0,0.0,...,12.0,0.0,2.0,18,12,0.0,0.0,0.000000,UPW,07-07-2016

In [48]:

#checking shape of dataset
shape=df.shape
print("\nTotal Number of Rows : ",shape[0])
print("Total Number of Features : ", shape[1])

Total Number of Rows :  209593
Total Number of Features :  37


The given dataset contains 209593 rows & 37 column

In [49]:
#checking the features .ie column names
df.columns

Index(['Unnamed: 0', 'label', 'msisdn', 'aon', 'daily_decr30', 'daily_decr90',
       'rental30', 'rental90', 'last_rech_date_ma', 'last_rech_date_da',
       'last_rech_amt_ma', 'cnt_ma_rech30', 'fr_ma_rech30',
       'sumamnt_ma_rech30', 'medianamnt_ma_rech30', 'medianmarechprebal30',
       'cnt_ma_rech90', 'fr_ma_rech90', 'sumamnt_ma_rech90',
       'medianamnt_ma_rech90', 'medianmarechprebal90', 'cnt_da_rech30',
       'fr_da_rech30', 'cnt_da_rech90', 'fr_da_rech90', 'cnt_loans30',
       'amnt_loans30', 'maxamnt_loans30', 'medianamnt_loans30', 'cnt_loans90',
       'amnt_loans90', 'maxamnt_loans90', 'medianamnt_loans90', 'payback30',
       'payback90', 'pcircle', 'pdate'],
      dtype='object')

# columns description:

1.label : Flag indicating whether the user paid back the credit amount within 5 days of issuing the loan{1:success, 0:failure}

2.msisdn : mobile number of user

3.aon : age on cellular network in days

4.daily_decr30: Daily amount spent from main account, averaged over last 30 days (in Indonesian Rupiah)

5.daily_decr90: Daily amount spent from main account, averaged over last 90 days (in Indonesian Rupiah)

6.rental30: Average main account balance over last 30 days

7.rental90: Average main account balance over last 90 days

8.last_rech_date_ma: Number of days till last recharge of main account

9.last_rech_date_da: Number of days till last recharge of data account

10.last_rech_amt_ma: Amount of last recharge of main account (in Indonesian Rupiah)

11.cnt_ma_rech30: Number of times main account got recharged in last 30 days

12.fr_ma_rech30: Frequency of main account recharged in last 30 days

13.sumamnt_ma_rech30: Total amount of recharge in main account over last 30 days (in Indonesian Rupiah)

14.medianamnt_ma_rech30: Median of amount of recharges done in main account over last 30 days at user level (in Indonesian Rupiah)

15.medianmarechprebal30: Median of main account balance just before recharge in last 30 days at user level (in Indonesian Rupiah)


16.cnt_ma_rech90: Number of times main account got recharged in last 90 days

17.fr_ma_rech90: Frequency of main account recharged in last 90 days


18.sumamnt_ma_rech90 : Total amount of recharge in main account over last 90 days (in Indian Rupee)


19.medianamnt_ma_rech90: Median of amount of recharges done in main account over last 90 days at user level (in Indian Rupee)

20.medianmarechprebal90: Median of main account balance just before recharge in last 90 days at user level (in Indian Rupee)


21.cnt_da_rech30: Number of times data account got recharged in last 30 days

22.fr_da_rech30: Frequency of data account recharged in last 30 days


23.cnt_da_rech90: Number of times data account got recharged in last 90 days


24.fr_da_rech90: Frequency of data account recharged in last 90 days


25.cnt_loans30: Number of loans taken by user in last 30 days

26.amnt_loans30: Total amount of loans taken by user in last 30 days


27.maxamnt_loans30: maximum amount of loan taken by the user in last 30 days


28.medianamnt_loans30: Median of amounts of loan taken by the user in last 30 days


29.cnt_loans90: Number of loans taken by user in last 90 days

30.amnt_loans90: Total amount of loans taken by user in last 90 days


31.maxamnt_loans90: maximum amount of loan taken by the user in last 90 days

32.medianamnt_loans90: Median of amounts of loan taken by the user in last 90 days


33.payback30: Average payback time in days over last 30 days

34.payback90: Average payback time in days over last 90 days


35.pcircle: telecom circle


36.pdate: date

In [50]:
#checking the information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209593 entries, 0 to 209592
Data columns (total 37 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            209593 non-null  int64
 1   label                 209593 non-null  int64
 2   msisdn                209593 non-null  object
 3   aon                   209593 non-null  float64
 4   daily_decr30          209593 non-null  float64
 5   daily_decr90          209593 non-null  float64
 6   rental30              209593 non-null  float64
 7   rental90              209593 non-null  float64
 8   last_rech_date_ma     209593 non-null  float64
 9   last_rech_date_da     209593 non-null  float64
 10  last_rech_amt_ma      209593 non-null  int64
 11  cnt_ma_rech30         209593 non-null  int64
 12  fr_ma_rech30          209593 non-null  float64
 13  sumamnt_ma_rech30     209593 non-null  float64
 14  medianamnt_ma_rech30  209593 non-null  float64
 15  medianmarechprebal30  209593 non-null  float64
 16  cnt_ma_rech90         209593 non-null  int64
 17  fr_ma_rech90          209593 non-null  int64
 18  sumamnt_ma_rech90     209593 non-null  int64
 19  medianamnt_ma_rech90  209593 non-null  float64
 20  medianmarechprebal90  209593 non-null  float64
 21  cnt_da_rech30         209593 non-null  float64
 22  fr_da_rech30          209593 non-null  float64
 23  cnt_da_rech90         209593 non-null  int64
 24  fr_da_rech90          209593 non-null  int64
 25  cnt_loans30           209593 non-null  int64
 26  amnt_loans30          209593 non-null  int64
 27  maxamnt_loans30       209593 non-null  float64
 28  medianamnt_loans30    209593 non-null  float64
 29  cnt_loans90           209593 non-null  float64
 30  amnt_loans90          209593 non-null  int64
 31  maxamnt_loans90       209593 non-null  int64
 32  medianamnt_loans90    209593 non-null  float64
 33  payback30             209593 non-null  float64
 34  payback90             209593 non-null  float64
 35  pcircle               209593 non-null  object
 36  pdate                 209593 non-null  object
dtypes: float64(21), int64(13), object(3)
memory usage: 59.2+ MB

In [51]:
#checking data types of each column
print("Data Types of Features :\n", df.dtypes)
print('\n\n')
print(df.columns.groupby(df.dtypes))

Data Types of Features :
 Unnamed: 0                int64
label                     int64
msisdn                   object
aon                     float64
daily_decr30            float64
daily_decr90            float64
rental30                float64
rental90                float64
last_rech_date_ma       float64
last_rech_date_da       float64
last_rech_amt_ma          int64
cnt_ma_rech30             int64
fr_ma_rech30            float64
sumamnt_ma_rech30       float64
medianamnt_ma_rech30    float64
medianmarechprebal30    float64
cnt_ma_rech90             int64
fr_ma_rech90              int64
sumamnt_ma_rech90         int64
medianamnt_ma_rech90    float64
medianmarechprebal90    float64
cnt_da_rech30           float64
fr_da_rech30            float64
cnt_da_rech90             int64
fr_da_rech90              int64
cnt_loans30               int64
amnt_loans30              int64
maxamnt_loans30         float64
medianamnt_loans30      float64
cnt_loans90             float64
amnt_loans90              int64
maxamnt_loans90           int64
medianamnt_loans90      float64
payback30               float64
payback90               float64
pcircle                  object
pdate                    object
dtype: object



{int64: ['Unnamed: 0', 'label', 'last_rech_amt_ma', 'cnt_ma_rech30', 'cnt_ma_rech90', 'fr_ma_rech90', 'sumamnt_ma_rech90', 'cnt_da_rech90', 'fr_da_rech90', 'cnt_loans30', 'amnt_loans30', 'amnt_loans90', 'maxamnt_loans90'], float64: ['aon', 'daily_decr30', 'daily_decr90', 'rental30', 'rental90', 'last_rech_date_ma', 'last_rech_date_da', 'fr_ma_rech30', 'sumamnt_ma_rech30', 'medianamnt_ma_rech30', 'medianmarechprebal30', 'medianamnt_ma_rech90', 'medianmarechprebal90', 'cnt_da_rech30', 'fr_da_rech30', 'maxamnt_loans30', 'medianamnt_loans30', 'cnt_loans90', 'medianamnt_loans90', 'payback30', 'payback90'], object: ['msisdn', 'pcircle', 'pdate']}

Observation:

Features 'msidn' , 'pcircle' , & 'pdate' are of object datatype. Rest all features are either of int64 dtype or float64 dtype

In [52]:
#checking for null values
df.isnull().values.any()

False

It means that no null values are present in our dataset

In [53]:
#checking for null values in each column
print("\nTotal number of empty rows in each feature:\n", df.isnull().sum())

Total number of empty rows in each feature:
 Unnamed: 0              0
label                   0
msisdn                  0
aon                     0
daily_decr30            0
daily_decr90            0
rental30                0
rental90                0
last_rech_date_ma       0
last_rech_date_da       0
last_rech_amt_ma        0
cnt_ma_rech30           0
fr_ma_rech30            0
sumamnt_ma_rech30       0
medianamnt_ma_rech30    0
medianmarechprebal30    0
cnt_ma_rech90           0
fr_ma_rech90            0
sumamnt_ma_rech90       0
medianamnt_ma_rech90    0
medianmarechprebal90    0
cnt_da_rech30           0
fr_da_rech30            0
cnt_da_rech90           0
fr_da_rech90            0
cnt_loans30             0
amnt_loans30            0
maxamnt_loans30         0
medianamnt_loans30      0
cnt_loans90             0
amnt_loans90            0
maxamnt_loans90         0
medianamnt_loans90      0
payback30               0
payback90               0
pcircle                 0
pdate                   0
dtype: int64

we can also see it via visualization with the help of heatmap

sns.heatmap(df.isnull(),annot=True)

In [54]:
for col in df.columns.values:
    print("Number of unique values of {} : {}".format(col, df[col].nunique()))

Number of unique values of Unnamed: 0 : 209593
Number of unique values of label : 2
Number of unique values of msisdn : 186243
Number of unique values of aon : 4507
Number of unique values of daily_decr30 : 146328
Number of unique values of daily_decr90 : 155483
Number of unique values of rental30 : 131338
Number of unique values of rental90 : 139036
Number of unique values of last_rech_date_ma : 1186
Number of unique values of last_rech_date_da : 1174
Number of unique values of last_rech_amt_ma : 70
Number of unique values of cnt_ma_rech30 : 71
Number of unique values of fr_ma_rech30 : 1083
Number of unique values of sumamnt_ma_rech30 : 15141
Number of unique values of medianamnt_ma_rech30 : 510
Number of unique values of medianmarechprebal30 : 23907
Number of unique values of cnt_ma_rech90 : 110
Number of unique values of fr_ma_rech90 : 89
Number of unique values of sumamnt_ma_rech90 : 31771
Number of unique values of medianamnt_ma_rech90 : 608
Number of unique values of medianmarechprebal90 : 22694
Number of unique values of cnt_da_rech30 : 1066
Number of unique values of fr_da_rech30 : 1072
Number of unique values of cnt_da_rech90 : 27
Number of unique values of fr_da_rech90 : 46
Number of unique values of cnt_loans30 : 40
Number of unique values of amnt_loans30 : 48
Number of unique values of maxamnt_loans30 : 1050
Number of unique values of medianamnt_loans30 : 6
Number of unique values of cnt_loans90 : 1110
Number of unique values of amnt_loans90 : 69
Number of unique values of maxamnt_loans90 : 3
Number of unique values of medianamnt_loans90 : 6
Number of unique values of payback30 : 1363
Number of unique values of payback90 : 2381
Number of unique values of pcircle : 1
Number of unique values of pdate : 82

# Statistical Summary

Now lets understand our data statistically

In [55]:
df.describe()

,Unnamed: 0,label,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,...,cnt_loans30,amnt_loans30,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90
count,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.00000,209593.000000,209593.000000,...,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000
mean,104797.000000,0.875177,8112.343445,5381.402289,6082.515068,2692.581910,3483.406534,3755.84780,3712.202921,2064.452797,...,2.758981,17.952021,274.658747,0.054029,18.520919,23.645398,6.703134,0.046077,3.398826,4.321485
std,60504.431823,0.330519,75696.082531,9220.623400,10918.812767,4308.586781,5770.461279,53905.89223,53374.833430,2370.786034,...,2.554502,17.379741,4245.264648,0.218039,224.797423,26.469861,2.103864,0.200692,8.813729,10.308108
min,1.000000,0.000000,-48.000000,-93.012667,-93.012667,-23737.140000,-24720.580000,-29.00000,-29.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,52399.000000,1.000000,246.000000,42.440000,42.692000,280.420000,300.260000,1.00000,0.000000,770.000000,...,1.000000,6.000000,6.000000,0.000000,1.000000,6.000000,6.000000,0.000000,0.000000,0.000000
50%,104797.000000,1.000000,527.000000,1469.175667,1500.000000,1083.570000,1334.000000,3.00000,0.000000,1539.000000,...,2.000000,12.000000,6.000000,0.000000,2.000000,12.000000,6.000000,0.000000,0.000000,1.666667
75%,157195.000000,1.000000,982.000000,7244.000000,7802.790000,3356.940000,4201.790000,7.00000,0.000000,2309.000000,...,4.000000,24.000000,6.000000,0.000000,5.000000,30.000000,6.000000,0.000000,3.750000,4.500000
max,209593.000000,1.000000,999860.755200,265926.000000,320630.000000,198926.110000,200148.110000,998650.37770,999171.809400,55000.000000,...,50.000000,306.000000,99864.560860,3.000000,4997.517944,438.000000,12.000000,3.000000,171.500000,171.500000

## Observation:

1.we observe that some data features are binary or ordinal, whereas other features are continuous.

2.Further, the minimum value is negative in some features which is not even possible for most of the features notably daily recharge , main account balance, aon, and last recharge.

3.The maximum values for some features such as aon ,maxamnt_loans30,medianmarechprebal90,medianmarechprebal30 are unrealistic.

4.There is large difference between maxm value and 75% ,which means that outliers are present .


      I'll try to treat them later using outlier detectionin certain features

In [56]:
# Describing object types
df.describe(include='object')
# pcircle seems to have only one unique value = 'UPW'. Let's get rid of this row too

             msisdn pcircle       pdate
count        209593  209593      209593
unique       186243       1          82
top     04581I85330     UPW  04-07-2016
freq              7  209593        3150

1.pcircle seems to have only one unique value = 'UPW'.
2.pdate isn't defined well as which date it refers to
3.msidn .ieMobile number of user doesn't really effect if the person will be a defaulter.

   Therefore we can remove all these features

In [57]:
#Removing irrelevant features6
df.drop(["Unnamed: 0","pcircle","msisdn","pdate"],axis=1,inplace=True)

In [58]:
df.shape

(209593, 33)

# Data Preprocessing

# EDA

In [64]:
##### Let's check the positive values in each features
(df >= 0).all()

True

In [69]:
df=df.abs()

In [70]:
(df >= 0).all()

True